{% extends 'gestion/base.html' %}
{% block title %}Entidad Detalle{% endblock %}
{% block content %}
    <div class="entidad">
        {% if entidad.razonSocial %}
            <div class="entidad">
                <h2>{{ entidad.razonSocial }}</h2>
                <div>
                    <p> RUC: {{ entidad.ruc }}</p>
                    <p> CORREO: {{ entidad.correo|linebreaksbr }}</p>
                </div>
                {% if user.is_authenticated %}
                    <button><a href="{% url 'entidad_edit' pk=entidad.pk %}">Editar</a></button>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}